#screen {
    width: 500px;
    margin: 0 auto;
}

#data-import-div {
    margin: 20px;
}

#load-file-button {
    width: 120px;
}

#stats div p {
    display: inline;
}

#question-card {
    height: 150px; 
    width: 300px; 
    margin: 30px;
    text-align: center;
    border: solid;
    border-width: thin;
    border-radius: 15px;
}

#answer-card {
    height: 150px; 
    width: 300px; 
    margin: 30px;
    text-align: center;
    border: solid;
    border-width: thin;
    border-radius: 15px;
}

#buttons button {
    width: 180px;
    height: 50px;
}

#question-card-content {
    font-family: sans-serif;
    font-size: 35px;
}

#answer-card-content {
    font-family: sans-serif;
    font-size: 35px;
}